
.todo-menu{
    display: flex;
    flex-direction: column;

}

.hidden{
    display: none;
}

.todo-item{
    display: flex;
    flex-direction: row;
}


#todo-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.todo-item.completed .text{
    text-decoration: line-through;
    color: hotpink;
}